@charset "utf-8";
#allboard {*zoom:1}
#allboard:after{content:""; display:block; clear:both;}
/* 올보드 전체 레이아웃 사이즈 */
#allboard {width:310px;height:320px;border:1px solid #e1e1e1;margin:0 auto;margin-top:50px;overflow:hidden;position:relative}
/* 올보드 타이틀 사이즈 */
#allboard .allboard_title {height:36px;background:#f6f6f6;border-bottom:1px solid #e1e1e1;position:relative}
#allboard .allboard_title span {font-size:15px;color:#444;font-weight:bold;margin-left:10px; line-height:37px;}

/* 새로고침 버튼 */
#allboard .allboard_title .refresh {width:30px;height:36px;background:url('./img/refresh.jpg') no-repeat 0 0;position:absolute;right:0;top:0;border-style:none}
#allboard .allboard_title .refresh:hover {width:30px;height:36px;background:url('./img/refresh.jpg') no-repeat -30px 0;position:absolute;right:0;top:0;border-style:none}

/* 로딩 페이지 */
#allboard #allboard_conts {position:relative;padding:7px 0  0 7px}
#allboard #allboard_conts .loadign_page {display:none}
#allboard #allboard_conts .loading_bg {width:310px;height:320px;background:#fff;opacity:0.8;position:absolute;left:0;top:0}
#allboard #allboard_conts .loading_icon {width:66px;height:66px;background:url('./img/loading_icon.gif') no-repeat 0 0;position:absolute;left:120px;top:70px}
#allboard #allboard_conts .loading_text {width:280px;height:25px;text-align:center;line-height:1.7em;font-size:15px;color:#fff;font-weight:bold;position:absolute;left:13px;top:150px;background:#FE4F90}

#allboard #allboard_conts ul {margin:0;padding:0;list-style:none}
#allboard #allboard_conts .conts {color:#2c2c2c;font-size:12px;display:block;cursor:pointer}
#allboard #allboard_conts .conts .over:hover {color:#FE4F90;font-size:12px;display:block;cursor:pointer}
#allboard #allboard_conts .conts a {float:left;margin-bottom:10px}
#allboard #allboard_conts .conts a span {float:left}
/* 게시판의 이름 */
#allboard #allboard_conts .conts .board_name {width:65px;height:24px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;background:#FE4F90;color:#fff;line-height:24px;text-align:center;text-decoration:none}
#allboard #allboard_conts .conts .board_name:hover {width:65px;height:24px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;background:#d13e90;color:#fff;line-height:24px;text-align:center;text-decoration:none}
/* 게시판의 내용 제목 */
#allboard #allboard_conts li .board_title {width:155px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;line-height:25px;margin-left:5px;display:block}
/* 게시판의 내용 조회 수 */
#allboard #allboard_conts li .board_hits {width:30px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;line-height:25px;margin-left:5px;text-align:center}
/* 게시판의 내용 작성한 시간, 날짜 */
#allboard #allboard_conts li .board_time {width:30px;letter-spacing:-0.02em;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;line-height:25px;margin-left:5px;text-align:center}
