/* color */
.text_color1{color:#00dbee !important;}
.text_color2{color:#F5FAFF !important;}


.border_color1{border-color:#00dbee !important;}
.border_color2{border-color:#F5FAFF !important;}


.bg_color1{background-color:#00dbee !important;}
.bg_color2{background-color:#7feef7 !important;}
.bg_color3{background-color:#af8cff !important;}

		
.top_menu ul li.on{background-color:#00dbee !important;}	
