/* color */
.text_color1{color:#486fff !important;}

.border_color1{border-color:#486fff !important;}
.border_color2{border-color:#3951a8 !important;}


.bg_color1{background-color:#486fff !important;}
.bg_color2{background-color:#9fb3ff !important;}


.top_menu ul li.on{background-color:#486fff !important;}	