/* color */
.text_color1{color:#f94b4b !important;}

.border_color1{border-color:#f94b4b !important;}
.border_color2{border-color:#b81e1e !important;}

.bg_color1{background-color:#f94b4b !important;}
.bg_color2{background-color:#ff9191 !important;}


.top_menu ul li.on{background-color:#f94b4b !important;}	