/* color */
.text_color1{color:#ff643a !important;}


.border_color1{border-color:#727272 !important;}
.border_color2{border-color:#222 !important;}

.bg_color1{background-color:#727272 !important;}
.bg_color2{background-color:#a4a4a4 !important;}


.top_menu ul li.on{background-color:#727272 !important;}	
