/* color */
.text_color1{color:#2db400 !important;}


.border_color1{border-color:#2db400 !important;}
.border_color2{border-color:#2f7119 !important;}


.bg_color1{background-color:#2db400 !important;}
.bg_color2{background-color:#aad99a !important;}


.top_menu ul li.on{background-color:#2db400 !important;}	