/* color */
.text_color1{color:#6bcd0e !important;}


.border_color1{border-color:#6bcd0e !important;}
.border_color2{border-color:#48850e !important;}


.bg_color1{background-color:#6bcd0e !important;}
.bg_color2{background-color:#c1f3b0 !important;}


.top_menu ul li.on{background-color:#6bcd0e !important;}	