/* color */
.text_color1{color:#ff643a !important;}

.border_color1{border-color:#ff643a !important;}
.border_color2{border-color:#cf512f !important;}

.bg_color1{background-color:#ff643a !important;}	
.bg_color2{background-color:#fbb8a6 !important;}	

.top_menu ul li.on{background-color:#ff643a !important;}	