/* color */
.text_color1{color:#f548df !important;}


.border_color1{border-color:#f548df !important;}
.border_color2{border-color:#a22592 !important;}


.bg_color1{background-color:#f548df !important;}
.bg_color2{background-color:#ffc7f8 !important;}

.top_menu ul li.on{background-color:#f548df !important;}	