/* color */
.text_color1{color:#bf56f5 !important;}


.border_color1{border-color:#bf56f5 !important;}
.border_color2{border-color:#ab2fcf !important;}


.bg_color1{background-color:#bf56f5 !important;}
.bg_color2{background-color:#e6c1f9 !important;}


.top_menu ul li.on{background-color:#bf56f5 !important;}	