/* color */
.text_color1{color:#ff0000 !important;}


.border_color1{border-color:#ff0000 !important;}
.border_color2{border-color:#cf2f2f !important;}


.bg_color1{background-color:#ff0000 !important;}
.bg_color2{background-color:#feadad !important;}

.top_menu ul li.on{background-color:#ff0000 !important;}	