/* color */
.text_color1{color:#f9bc01 !important;}

.border_color1{border-color:#ffc821 !important;}
.border_color2{border-color:#ddb014 !important;}


.bg_color1{background-color:#ffc821 !important;}
.bg_color2{background-color:#ffecb1 !important;}


.top_menu ul li.on{background-color:#ffc821 !important;}	